
body {margin: 0;}
main { max-width: 1500px; }
section { width: 100vw;}
img {width: 100%; height: auto;}

header {position: relative; margin-bottom: 50px; width: 100vw; display: flex; flex-direction: column; justify-content: space-between; background-size: contain; background-repeat: no-repeat; border-bottom: 5px solid black;}
header h1 {font-size: 8rem; position: absolute; bottom: 5vh; left: 3vw; margin: 0;}
header h2 {text-align: left; font-size: 25px;}
.resumeResize {width: 50vw; height: auto; padding: 10px; position: center;}
h2 {padding-left: 30px;}
#me {width: 100%; height: 100vh; object-fit: cover;}
#top {position: absolute; right:0; display: flex; gap: 2vw; padding: 2vh 3vw;}
#social {display: flex; gap: 2vw; }
#social a {align-self: center}
#ig {width: 30px; mix-blend-mode: multiply; }
#you {width: 100px; mix-blend-mode: multiply;}
#who {display: flex; }
#who h2 {margin-left: -40px;}
#who article {margin-right: 50px; order: 1; margin-bottom: 50px}
#who p, #who h2 {font-size: 160%}
#resume img{border: 3px solid black;}
#headshots {display: grid; grid-template-columns: 1fr 1fr 1fr;}
#headshots figure:first-child {grid-column: 1/-1}
#headshots figure:nth-child(4) {grid-column: 1/-1}
footer {background: silver; padding: 20px;}


/* Overrides desktop style when viewport is less than 600px (for smart phones) */
@media only screen and (max-width: 1000px) {
header {width: 100%; display: block; border: 0px; }
header h1 {display: none;}
header h2 {font-size: 6vw}
#who {display: block}
#who article {width: 85%; margin: 0px 40px; }
#headshots {display: block;}
}
